@font-face {
  font-family: 'DanmarkMedium';
  src:  url('../fonts/Danmark_Medium.woff2') format('woff2'),
        url('../fonts/Danmark_Medium.woff') format('woff'),
        url('../fonts/Danmark_Medium.ttf')  format('truetype'),
        url('../fonts/Danmark_Medium.svg#Danmark') format('svg');
}

@font-face {
  font-family: 'DanmarkBold';
  src:  url('../fonts/Danmark_Bold.woff2') format('woff2'),
        url('../fonts/Danmark_Bold.woff') format('woff'),
        url('../fonts/Danmark_Bold.ttf')  format('truetype'),
        url('../fonts/Danmark_Bold.svg#Danmark') format('svg');
}

@font-face {
  font-family: 'FMRegular';
  src:  url('../fonts/FM_Regular.woff2') format('woff2'),
        url('../fonts/FM_Regular.woff') format('woff'),
        url('../fonts/FM_Regular.ttf')  format('truetype'),
        url('../fonts/FM_Regular.svg#FM') format('svg');
}


// Variables
$white: #ffffff;
$black: #000000;

$headerGray: #E8E8E9;
$lightGray: #d2d2d3;
$gray: #404041;
$darkGray: #231f20;
$blue: #174a7c;

$mobile-break-max: 767px;
$tablet-break: 768px;
$desktop-break: 980px;
$large-desktop-break: 1150px;


@import 'vendor/sanitize';


// Mixins

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin prefix($property, $value) {
  #{'-webkit-' + $property}: #{$value};
  #{'-ms-' + $property}: #{$value};
  #{$property}: #{$value};
}

@mixin border-radius($radius) {
  @include prefix(radius, $radius);
}

@mixin transition($transition-property, $transition-time, $method) {
  @include prefix(transition, $transition-property $transition-time $method);
}

@mixin animation($str) {
  @included prefix(animation, #{$str});
}

// @include keyframes(slide-down) {
//   0% { opacity: 1; }
//   90% { opacity: 0; }
// }
@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }  
  @-ms-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

%clearfix {
  &:before, &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}


/*-----Base-----*/

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
}

body {
  overflow: hidden;
  font-family: 'FMRegular', Georgia, serif;
  color: $darkGray;

  &.loaded,
  .no-js & {
    overflow: visible;
  }
}

p {
  margin: 0 0 20px;
}

strong, b {

}

ul {
  list-style: none;
  margin: 0;

  li {

  }
}

img {
  max-width: none;
}

::-moz-selection {
  color: $white;
  background: $black;
}
::selection {
  color: $white;
  background: $black;
}


/*-----Typography-----*/


// Headers

h1 {
  margin: 1em 0;
  font-family: 'DanmarkMedium', Georgia, serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1.2;
  letter-spacing: 10px;

  &.white {
    color: $white;
  }

  br {
    display: none;
  }

  @media (min-width: $tablet-break) {
    font-size: 1.4em;
    letter-spacing: 15px;

    br {
      display: block;
    }
  }
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

// Links

a {

}

// Misc.

blockquote {
  display: block;
  margin: 0;
  padding: 0;
}

hr {

}

// Icons
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

// Buttons
.btn {
  display: block;
  width: 100%;
  padding: .5em;
  background: $darkGray;
  color: $white;
  font-family: 'DanmarkBold', Georgia, serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  transition: all .2s linear;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $darkGray;
    color: $white;
  }

  @media (min-width: $tablet-break) {
    background: $white;
    color: $darkGray;
  }
}


/*----- Scaffolding -----*/

.wrapper {
  max-width: 720px;
  margin: 0 auto;
}


/*----- Header -----*/

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding: .75em 0;
  background: $headerGray;
  z-index: 9;
  transform: translate3d(0, -100%, 0);
  transition: transform .4s ease;

  .loaded &,
  .no-js & {
    transform: translate3d(0,0,0);
  }

  @media (min-width: $tablet-break) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 100%;
    transform: translate3d(-100%, 0, 0);
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 90px;
  color: $gray;

  svg {
    display: block;
    width: 90px;
    height: 15px;
    fill: currentColor;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  @media (min-width: $tablet-break) {
    display: none;
  }
}

.map-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: .4em 0 .4em 1em;
  color: $gray;

  @media (min-width: $tablet-break) {
    position: relative;
    margin: 0 auto;
    padding: 1em;
    width: 4em;
    height: 4em;
    transition: transform .2s ease;

    &:hover {
      transform: scale(1.1);
    }

    svg {
      width: 2em;
      height: 2em;
    }
  }
}

.location {
  display: none;
  position: absolute;
  text-align: center;
  left: 50px;
  top: 50%;
  width: 400px;
  padding-left: 60px; // optically center
  text-transform: uppercase;
  font-family: 'DanmarkBold', Georgia, serif;
  font-size: .5em;
  letter-spacing: 3px;
  @include prefix(transform, translate(-50%, -50%) rotate(-90deg));

  @media (min-width: $tablet-break) {
    display: block;
  }
}

ul.social {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: .4em .6em .4em 0;
  list-style: none;
  
  li {
    display: block;
    float: left;
    
    a {
      display: block;
      color: $gray;
      line-height: 0;
      padding: 8px 5px;
      transition: color .2s linear;

      &:hover {
        color: $darkGray;
      }

      .icon {
        width: 10px;
        height: 10px;
      }
    }
  }

  @media (min-width: $tablet-break) {
    top: auto;
    bottom: 0;
    margin: 35px 40px;

    li {
      float: none;

      a {
        padding: 5px 0;

        .icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}


/*----- Footer ----- */

.footer {
  position: relative;
  height: 70px;
  background: $headerGray;
  padding: .75em 0;
  text-align: center;
  font-family: 'DanmarkMedium', Georgia, serif;
  text-transform: uppercase;
  z-index: 3;
  transform: translate3d(-100%, 0, 0);
  transition: transform .4s ease;
  transition-delay: .7s;

  .loaded &,
  .no-js & {
    transform: translate3d(0,0,0);
  }

  @media (min-width: $tablet-break) {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 4em 2em 0;
    height: auto;
    background: none;
    text-align: right;
    transform: translate3d(0, 100%, 0);
    transition-delay: 0s;
  }

  .developer {
    display: block;
    margin: 0 auto .5em;
    width: 70px;
    color: $blue;

    svg {
      display: block;
      width: 70px;
      height: 10px;
      fill: currentColor;
      overflow: visible;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    @media (min-width: $tablet-break) {
      display: inline-block;
      margin: 0;
      width: 98px;
      vertical-align: middle;

      svg {
        width: 98px;
        height: 14px;
      }
    }
  }

  .eho {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    margin: .75em;
    color: $black;

    svg {
      display: block;
      width: 30px;
      height: 15px;
      fill: currentColor;
      overflow: visible;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    @media (min-width: $tablet-break) {
      display: inline-block;
      position: relative;
      margin: 0 0 0 .5em;
      width: 35px;
      vertical-align: middle;

      svg {
        width: 35px;
        height: 17.5px;
      }
    }
  }
  
  .location-footer,
  .privacy {
    display: block;
    font-size: .6em;
    letter-spacing: 1px;
    color: $black;

    @media (min-width: $tablet-break) {
      display: none;
    }
  }
}


/*----- Loader -----*/

@keyframes loading { 
  0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
  7.61% { transform: matrix3d(0.536, 0, 0, 0, 0, 0.536, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.41% { transform: matrix3d(0.738, 0, 0, 0, 0, 0.738, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.12% { transform: matrix3d(0.881, 0, 0, 0, 0, 0.881, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% { transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
  22.72% { transform: matrix3d(1.038, 0, 0, 0, 0, 1.038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.23% { transform: matrix3d(1.072, 0, 0, 0, 0, 1.072, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50.25% { transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.27% { transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

.loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: $white;

  .loaded &,
  .no-js & {
    display: none;
  }

  .logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -120px;
    width: 240px;
    animation: loading 1000ms linear both;

    svg {
      width: 240px;
      height: 40px;
    }
  }
}


/*----- Sections ----- */

.mobile-top {
  position: relative;
  background: $white url('/assets/img/bg.top.jpg') center center no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 70px;
  height: 450px;
  overflow: hidden;

  .logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 210px;

    svg {
      width: 210px;
      height: 35px;
    }
  }

  .section-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition: transform .4s ease, opacity .2s linear;

    br {
      display: block;
    }

    &.active {
      opacity: 1;
      transform: translate3d(0,0,0);
    }

    &.middle {
      background: $white url('/assets/img/bg.middle.jpg') center center no-repeat;
      background-size: cover;
    }

    &.bottom {
      background: $white url('/assets/img/bg.bottom.jpg') center center no-repeat;
      background-size: cover;
    }
  }

  @media (min-width: $tablet-break) {
    display: none;
  }
}

.sections {
  margin-top: -70px;
  transition: margin .2s ease;

  .section-open & {
    margin-top: 0;
  }
  
  // NAVIGATION BANDS
  &.nav {

    .band {
      background: rgba($gray, .7);
      color: $white;
      height: 70px;

      .section-open & {
        &.top {
          background: rgba($gray, .7) url('/assets/img/bg.top.jpg') center center no-repeat;
          background-size: cover;
        }
      }
      
      &.middle {
        background: rgba($gray, .7) url('/assets/img/bg.middle.jpg') center center no-repeat;
        background-size: cover;
        transition-delay: .3s;
      }

      &.bottom {
        background: rgba($gray, .7) url('/assets/img/bg.bottom.jpg') center center no-repeat;
        background-size: cover;
        transition-delay: .5s;
      }

      &.active {
        display: none;
      }

      @media (min-width: $tablet-break) {
        height: auto;
        
        &.top {
          background: rgba($gray, .7) url('/assets/img/bg.top.jpg') center center no-repeat;
          background-size: cover;
        }

        &.active {
          display: block !important;
        }
      }
    }
  }
  
  // CONTENT BANDS
  &.pages {
    display: block;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s linear, visibility .3s linear;

    .section-open & {
      visibility: visible;
      opacity: 1;
    }

    .band {
      background: rgba($white, .9);

      &.active {
        background: rgba($white, 0);
      }

      &.peek {
        opacity: 0;
      }
    }

    .content {
      display: none;
      margin: 0 auto 2em;
      padding: 0 1.5em;
      width: 100%;
      max-width: 1200px;

      &.active {
        display: block;
      }
    }

    @media (max-width: $tablet-break - 1) {
      .content.hide-mobile {
        display: none;
      }
    }

    @media (min-width: $tablet-break) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;

      .content {
        margin: 0 auto;
        padding: 0;
      }
    }
  }

  @media (min-width: $tablet-break) {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding-left: 100px;
  }

  .band {
    position: relative;
    text-align: center;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: transform .4s ease, opacity .2s linear;

    .loaded &,
    .no-js & {
      opacity: 1;
      transform: translate3d(0,0,0);
    }

    &.top {
      transition-delay: .1s;
    }

    &.middle {
      transition-delay: .3s;
    }

    &.bottom {
      transition-delay: .5s;
    }

    @media (min-width: $tablet-break) {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 420px;
    }
  }
}

a.close {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1.75em 4em 0 0;
  background: $gray;
  color: $white;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  text-align: center;
  z-index: 9;
  transition: background .2s linear, transform .2s ease;

  svg {
    margin: .5em;
  }

  &:hover {
    transform: scale(1.1);
    background: $darkGray;
  }

  @media (min-width: $tablet-break) {
    display: block;
  }
}

a.section-link {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: $white;
  transition: opacity .2s linear;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba($gray, .7);
    z-index: -1;
    transition: background .3s linear;

    .top & {
      display: none;
    }

    .section-open & {
      display: block !important;
    }

    @media (min-width: $tablet-break) {
      display: block !important;
      background: rgba($gray, 0);
    }
  }

  .logo {
    display: none;
    width: 420px;
    transition: color .3s linear;

    svg {
      width: 420px;
      height: 70px;
    }

    @media (min-width: $tablet-break) {
      display: block;
    }
  }

  h1 {
    margin: 0;
    font-size: .7em;
    letter-spacing: 6px;
    transition: color .3s linear;

    @media (min-width: $tablet-break) {
      font-size: 1.4em;
      letter-spacing: 15px;

      .top & {
        color: $gray;
      }

      &.subhead {
        margin: 2em 0 0;
        font-size: .75em;
        letter-spacing: 8px;
      }
    }
  }

  .icon {
    margin: .4em auto 0;
    width: 10px;
    height: 10px;

    @media (min-width: $tablet-break) {
      display: none;
    }
  }

  @media (min-width: $tablet-break) {
    color: $gray;
    
    .section-open & {
      opacity: 0;
    }

    .peek & {
      opacity: 1;
    }
    
    &:hover {
      color: $white;

      &::before {
        background: rgba($gray, .7);
      }

      .logo,
      h1 {
        color: $white;
      }
    }
  }
}

// sliders

@import 'vendor/slick';

.gallery {
  margin: 2em 0;
  
  .slide {
    outline: none;
    
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: $tablet-break) {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1em;

    .slide {
      flex: 0;
      flex-basis: 33.333%;
      max-width: 33.333%;
      padding: 0 1em;
    }

    &.full-split {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      margin: 0;

      .slide {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        flex-basis: 50%;
        max-width: 50%;
        padding: 0;

        img {
          display: none;
        }
      }
    }
  }
}

ul.slick-dots {
  list-style: none;
  margin: 1em auto 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 .4em;

    button {
      display: block;
      margin: 0;
      padding: 0;
      width: 7px;
      height: 7px;
      min-height: 0;
      border: none;
      background: $lightGray;
      text-indent: -9999px;
      overflow: hidden;
      outline: none;
      cursor: pointer;
      transform: rotate(45deg);
      transition: all .2s linear;
    }

    &.slick-active {
      button {
        background: $gray;
      }
    }
  }
}

.form {
  max-width: 800px;
  margin: 0 auto;
}

.success {
  display: none;

  @media (min-width: $tablet-break) {
    margin-top: 6em;
  }
}

.fields {
  .field {
    margin-bottom: 1em;
    
    label {
      display: block;
      text-transform: uppercase;
      font-family: 'DanmarkBold', Georgia, serif;
      font-size: .8em;
      letter-spacing: 2px;
      text-align: left;
      color: $white;

      &.error {
        display: none !important;
      }
    }

    .form-control {
      display: block;
      width: 100%;
      padding: 1em;
      border: 1px solid $white;
      color: $white;
      font-size: .75em;
      transition: all .2s linear;

      &:focus {
        outline: none;
      }
    }

    &.error {
      .form-control {
        border-color: #E35751;
        color: #E35751;
      }
    }
  }

  @media (min-width: $tablet-break) {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;

    .field {
      flex: 0;
      flex-basis: 33.333%;
      max-width: 33.333%;
      margin: 0;
      padding: 0 .75em;
      text-align: center;

      label {
        margin: 5em 0 1em;
        text-align: center;
      }

      .form-control {
        text-align: center;
      }

      &.submit {
        margin-top: 1em;
      }
    }
  }
}