block variables
  -var active = 'home'
  -var title = 'Home'

extends ../layout

block body
  .sections
    section.band.top
      h1 Top
    section.band.middle
      h1 Middle
    section.band.bottom
      h1 Bottom
