header.header
  a(href='#', target='_blank').map-link
    <svg class="icon"><use xlink:href="/assets/img/icons.svg#icon-map"></use></svg>
  
  .logo
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 420 70"><title>RESA</title><path d="M386.0666,4.0104 L381.5206,4.0104 L400.5116,44.9204 L400.4876,44.9204 L400.5796,45.1204 L370.0026,45.1204 L368.1266,49.0874 L402.1146,49.0874 L410.6776,67.2974 L415.3676,67.2974 L415.3676,66.7574 L386.0666,4.0104 Z" id="letter-R"></path><path d="M260.5816,32.6602 C252.2866,31.6682 241.4696,30.9472 241.4696,20.4882 C241.4696,11.0222 250.5736,7.0552 259.4106,7.0552 C267.3446,7.0552 277.8906,9.7612 278.6136,19.4982 L282.8516,19.4982 C282.1286,7.5972 271.1306,3.0002 259.4106,3.0002 C248.8616,3.0002 236.8706,8.4992 236.8706,20.5792 C236.8706,33.2002 248.3196,35.0932 259.8596,36.5372 C269.6866,37.9782 280.3256,39.2412 280.0556,49.8792 C279.7846,59.7972 269.5056,64.0332 260.4006,64.0332 C251.8386,64.0332 240.2046,60.5172 239.4856,50.6002 L235.4286,50.6002 C236.1506,63.1312 249.0416,68.0002 260.5816,68.0002 C272.3016,68.0002 284.2926,62.4112 284.5636,49.9692 C284.8316,36.8082 272.7536,34.3732 260.5816,32.6602" id="letter-E"></path><path d="M129.1274,36.5369 L155.7464,36.5369 L159.6894,32.4799 L129.1274,32.4799 L129.1274,7.9589 L157.0054,7.9589 L161.0424,3.9919 L124.6204,3.9919 L124.6204,67.0989 L157.4784,67.0989 L161.3134,62.9509 L129.1274,62.9509 L129.1274,36.5369 Z" id="letter-S"></path><path d="M45.0011,23.6443 C45.0011,12.0143 36.0771,3.9913 23.8161,3.9913 L5.0001,3.9913 L5.0001,8.0473 L23.8161,8.0473 C33.1921,8.0473 40.5841,14.0883 40.5841,23.5543 C40.5841,33.2003 33.0111,39.0603 23.8161,39.0603 L20.0641,39.0603 L19.6711,39.0603 L26.0121,46.4433 L23.2601,43.0273 L23.2751,43.0273 L26.0121,46.4433 L26.0251,46.4593 L26.0121,46.4433 L42.5681,67.0983 L47.6171,67.0983 L47.6171,66.3773 L27.9621,42.4873 C37.6991,41.0443 45.0011,34.1023 45.0011,23.6443" id="letter-A"></path></svg>

  .location 22 M St NE, Washington, DC 20002
  
  ul.social
    li: a(href='#', target='_blank')
      <svg class="icon"><use xlink:href="/assets/img/icons.svg#icon-instagram"></use></svg>
    li: a(href='#', target='_blank')
      <svg class="icon"><use xlink:href="/assets/img/icons.svg#icon-twitter"></use></svg>
    li: a(href='#', target='_blank')
      <svg class="icon"><use xlink:href="/assets/img/icons.svg#icon-facebook"></use></svg>